<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>赢单乐</title>
  <meta name="format-detection" content="telephone=no">
  <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <script>
    (function () {
      var html = document.documentElement

      function resetFontSizeOfRootElement() {
        var baseFontSize = 0.625;
        var ratio = (375 / html.offsetWidth);

        html.style.fontSize = (baseFontSize / ratio) * 100 + '%'
        window.FONT_PX = (baseFontSize / ratio)
        window.PIXEL_RATIO = ratio
      }

      resetFontSizeOfRootElement()
      window.addEventListener('resize', resetFontSizeOfRootElement)
      document.addEventListener('resize', resetFontSizeOfRootElement)
    }())
  </script>

  <link rel="stylesheet" href="//at.alicdn.com/t/font_255231_upuji5jmt0cw61or.css">
  <script src="http://g.alicdn.com/dingding/open-develop/1.0.10/dingtalk.js"></script>
</head>

<body class="vue-app">
  <div id="app"></div>
</body>
</html>
